<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link media="all" rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <title>This is all of users</title>
</head>
<body class ="m-0">


<!-- Верхняя черная полоса-->
<div class = "container-fluid">
    <div class = "row align-items-start bg-dark text-white p-0">
<!--        <div class = "col-11 d-flex justify-content-left align-items-center">-->
<!--            <p>-->
<!--                <strong th:text ="${userAdmin.userName}"></strong> with roles: <span th:text ="${userAdmin.getRoles().iterator().next().getName()}">-->
<!--            </span>-->
<!--        </div>-->

        <div class = "col d-flex justify-content-right align-items-center">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <a th:href="@{/logout}" class ="text-muted" style="text-decoration: none">Logout</a>
            </form>
        </div>

    </div>
</div>
<!-- КОНЕЦ Верхняя черная полоса-->



<div class = "container-fluid">
    <!-- Блок слева с выбором admin или user-->
    <div class ="row text-dark gx-0">
        <div class="col-2 mt-3">
            <form action="/admin" method="get">
            <button type="submit" class="btn btn-primary w-100 text-start">Admin</button>
            </form>
<!--            <form action="/admin/findUser" method="get">-->
<!--                <input type = "hidden" name = "adminID" th:value="${userAdmin.getId()}">-->
<!--                <button type="submit" class="btn btn-white w-100 text-start text-primary">User</button>-->
<!--            </form>-->
        </div>
        <!-- КОНЕЦ БЛОКА СЛЕВА С ВЫБОРОМ admin или user-->

        <!-- БЛОК admin panel-->
        <div class ="col-10 bg-light gx-5 pt-4">
            <!-- КНОПКИ АДМИН И ЮЗЕР-->
            <h1>Admin panel</h1>
            <ul class = "nav nav-tabs">
                <li class = "nav-item">
                    <a class ="nav-link" href="/admin" style="background-color: white; border:1px solid lightgrey; color:black" >Users table</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href="/admin/actionUserForm">New User</a>
                </li>
            </ul>
            <!-- КОНЕЦ КНОПКИ АДМИН И ЮЗЕР-->

            <!-- НАДПИСЬ All users-->
            <div class = "border border-lightgrey p-2 border-top-0">
                <h6>All users</h6>
            </div>
            <!--  КОНЕЦ НАДПИСИ All users-->




            <div class="container-fluid bg-white pt-2 border border-top-0">
                <table class ="table border-top" id="itemsTable">
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                <tbody id = "tableBody">

                </tbody>
                </table>
            </div>

            <div id = "editModal" class = "modal" tabindex = "-1" role = "dialog">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class = "modal-header">
                            <h5 class = "modal-title"> Edit </h5>
                            <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" onclick = "closeModal()">
                                <span aria-hidden = "true"> &times;</span>
                            </button>
                        </div>
                        <div class = "modal-body">
                            <input type = "hidden" id = "userId"/>
                            <div class = "form-group">
                                <label for = "username">First Name</label>
                                <input type = "text" class = "form-control" id = "username">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" />
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                            <button type="button" class="btn btn-primary" onclick="updateUser()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "deleteModal" class = "modal" tabindex = "-1" role = "dialog">
                <div class = "modal-dialog" role = "document">
                    <div class = "modal-content">
                        <div class = "modal-header">
                            <h5 class = "modal-title"> Delete </h5>
                            <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" onclick = "closeModal()">
                                <span aria-hidden = "true"> &times;</span>
                            </button>
                        </div>
                        <div class = "modal-body">
                            <input type = "hidden" id = "userIdDelete"/>
                            <div class = "form-group">
                                <label for = "username">First Name</label>
                                <input type = "text" class = "form-control" id = "usernameDelete" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastNameDelete" readonly />
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="ageDelete" readonly />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="emailDelete" readonly />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                            <button type="button" class="btn btn-primary" onclick="deleteUser()">Delete user</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src= "/js/FetchLoad.js"></script>
</body>
</html>