<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is all of users</title>
</head>
<body>

<div>
    <tr th:each="user : ${allUsers}">
        <h3 th:text="${user.toString()}"></h3>
    </tr>
</div>



<div>
    <form action = "/actionUserForm" method="get">
        <button type = "submit"> Add user </button>
    </form>
</div>



<br>
<div>
    <form action = "/deleteUser" method="post">
        <label for ="deleteUser"> Choose user for delete </label>
        <select id = "deleteUser" name = "deleteUser">
            <option value = ""> Select user</option>
            <th:block th:each = "user : ${allUsers}">
                <option th:value="${user.getId()}" th:text="${user.getName()}"></option>
            </th:block>
        </select>
        <button type = "submit"> Delete user </button>
    </form>
</div>




<br>
<div>
    <form action = "/findUser" method="get">
        <label for ="findID"> Write the id </label>
        <input type = "number" id = "findID" name = "findID" required>
        <button type = "submit"> Find user </button>
    </form>
</div>




<br>
<div>
    <form action = "/actionUpdateForm" method="get">
        <button type = "submit">  Update user </button>
    </form>
</div>
</body>
</html>