<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link media="all" rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <title>Show user</title>
</head>
<body class ="m-0">

<!-- Верхняя черная полоса-->
<div class = "container-fluid">
    <div class = "row align-items-start bg-dark text-white p-0">
        <div class = "col-11 d-flex justify-content-left align-items-center">
            <p>
                <strong th:text ="${user.userName}"></strong> with roles: <span th:text ="${user.getRoles().iterator().next().getName()}">
            </span>
        </div>

        <div class = "col d-flex justify-content-right align-items-center">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <a th:href="@{/logout}" class ="text-muted" style="text-decoration: none">Logout</a>
            </form>
        </div>

    </div>
</div>


<!-- Блок слева с выбором admin или user-->
<div class = "container-fluid">
    <div class ="row text-dark gx-0">
        <div class="col-2 mt-3">
            <form action="/admin/findUser" method="get">
                <input type = "hidden" name = "adminID" th:value="${user.getId()}">
                <button type="submit" class="btn btn-primary w-100 text-start">User</button>
            </form>
        </div>


        <!-- Блок admin panel-->
        <div class ="col-10 bg-light gx-5 pt-4">
            <h1>User information-page</h1>
            <div class = "border border-lightgrey p-2">
                <h6>About user</h6>
            </div>

            <div class="container-fluid bg-white pt-2 border border-top-0">
                <table class ="table border-top">
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    <tr class="even-row">
                        <td th:text="${user.getId()}" style="border-bottom: none"></td>
                        <td th:text="${user.getUsername()}" style="border-bottom: none"></td>
                        <td th:text="${user.getLastName()}" style="border-bottom: none"></td>
                        <td th:text="${user.getAge()}" style="border-bottom: none"></td>
                        <td th:text="${user.getEmail()}" style="border-bottom: none"></td>
                        <td th:text="${user.getRoles().iterator().next().getName()}" style="border-bottom: none"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>