<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<div>
    <form action = "/admin/updateUser" method="post" th:object="${newUser}">
        <label for ="updateUser"> Choose user for update </label>
        <select id = "updateUser" name = "updateUser">
            <option value = ""> Select user</option>
            <th:block th:each = "user : ${allUsers1}">
                <option th:value="${user.getId()}" th:text="${user.getId() + '-' + user.getUserName()}"></option>
            </th:block>
        </select>
        <label for ="username"> Write the username </label>
        <input type = "text" id = "username" th:field="*{userName}" required>

        <label for = "age"> Write the user age </label>
        <input type = "number" id = "age" th:field="*{age}" required>

        <button type = "submit"> Update user </button>
    </form>
</div>

<br>
<div>
    <form action = "/logout" method="post">
        <button type = "submit">Log out</button>
    </form>
</div>
</body>
</html>




